---

sudo: false

cache:
  directories:
    - .bundle/gems

language: ruby

install:
  - gem update --system --no-document || test true
  - gem install bundler --no-document || test true
  - bundle install --jobs 3 --retry 3 --path .bundle/gems

script:
  - bundle exec rake
  - bundle exec codeclimate-test-reporter || test true

rvm:
  - 2.3.6
  - 2.4.3
  - 2.5.0
  - ruby-head

matrix:
  allow_failures:
    - rvm: ruby-head

branches:
  only:
    - master

addons:
  code_climate:
    repo_token: f06a22b27a507a3054eb69873c9e3bbc9ef97476d6ef22eec8cd24686494cb2b
